body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #92bbe2;
}
.clube-livro{
    background-color: #9f3ad7;
    color: white;
}
.margin{
    padding-bottom: 20px;
    padding-top: 20px;

}
.parceiros{
    background-color: #9f3ad7;
    color: white;
}
.livros{
    background-color: #9f3ad7;
    color: white;
}

.bg-footer{
    background-color: #92bbe2;
    color: black;
    height: 50px;
}
.marginfooter{
    padding-bottom: 50px;
    padding-top: 20px;

}